@import url(https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headers{
    text-align: center;
    margin-bottom: 40px;
}

.f{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.f a{
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    margin: auto;
}

.card {
    width: 210px;
    height: 260px;
    text-align: center;
    margin-right: 15px;
    background-color: #d9d9d9;
    border-radius: 1rem;
    transition: background-color 0.5s, transform 0.5s;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.card h3 {
    margin-top: 0.25rem;
    font-size: 1.2rem;
}

.card:hover {
    background-color: #B1B1B1;
    transform: scale(1.1); 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.card img{
    transition: transform 0.5s, filter 0.5s;
    width: 150px;
    height: 120px;
}
.card:hover img{
    filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 0.4));
}


